In [1]:
from scipy.io import loadmat
import pandas as pd

In [2]:
mat = loadmat('BHM_time_cell.mat', squeeze_me=True)

In [3]:
mat

{'__header__': b'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Thu Jun  9 12:03:21 2022',
 '__version__': '1.0',
 '__globals__': [],
 'BHM_time_cell': array(['07-May-2020 01:05:00', '07-May-2020 01:10:00',
        '07-May-2020 01:15:00', ..., '07-May-2022 00:55:00',
        '07-May-2022 00:56:00', '07-May-2022 01:00:00'], dtype=object)}

In [4]:
header_list = ['datetime']

In [5]:
df = pd.DataFrame(mat['BHM_time_cell'], columns=header_list)

In [6]:
df

                    datetime
0       07-May-2020 01:05:00
1       07-May-2020 01:10:00
2       07-May-2020 01:15:00
3       07-May-2020 01:20:00
4       07-May-2020 01:25:00
...                      ...
204298  07-May-2022 00:45:00
204299  07-May-2022 00:50:00
204300  07-May-2022 00:55:00
204301  07-May-2022 00:56:00
204302  07-May-2022 01:00:00

[204303 rows x 1 columns]

In [7]:
print(df.head())

               datetime
0  07-May-2020 01:05:00
1  07-May-2020 01:10:00
2  07-May-2020 01:15:00
3  07-May-2020 01:20:00
4  07-May-2020 01:25:00